/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
body {
    background-color: black;
}

h5 {
    letter-spacing: 1px;
}

h6 {
    letter-spacing: 2px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 215px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  -webkit-transition: height 2s;  
  transition: all .5s;
  transition-timing-function: ease;  
}

.last-child {
  margin-bottom: 50px;  
}

.parallax-container .section {
width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 3%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.reason {
    display: none;
    line-height: 20px;
}

.alert {
    font-weight: 400;
    letter-spacing: 2px;
}

.icon-container {
    margin-bottom: 0;
}

footer.page-footer {
  margin: 0;
}